.customed-bg-colour {
    background-color: #feeae9;
}
.customed-button{
    background-color: #ff4891;
    color: aliceblue;
}
.bg-orange{
    background-color: #ffa500;
}
.bg-pink{
    background-color: #da70d6;
}
.bg-blue{
    background-color: #0000ff;
}